@import "tailwindcss";

.pixel-blast-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


body {
  background: #000;
}
.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
